01-phase-one/
dist/
GitProxyManager.spec
.idea/
NLP/02-文本张量表示/data/fil9
NLP/02-文本张量表示/data/cbow.bin
NLP/02-文本张量表示/data/skipgram.bin
NLP/05-Transformer和Bert应用/bert-base-chinese
Project/SubmitAFullScoreProject/data/class.txt
Project/SubmitAFullScoreProject/data/test.txt
Project/SubmitAFullScoreProject/data/train.txt
Project/SubmitAFullScoreProject/data/dev.txt
Project/SubmitAFullScoreProject/data/stopwords.txt
Project/SubmitAFullScoreProject/rf/processed_data
Project/SubmitAFullScoreProject/rf/model
/DL/10_综合分类案例_模型训练和评估/model/phone_model.pth
Project/SubmitAFullScoreProject/fasttext/processed_data
Project/SubmitAFullScoreProject/fasttext/model
Project/SubmitAFullScoreProject/bert_base/bert-base-chinese
/Project/SubmitAFullScoreProject/bert_base/model/
/Project/SubmitAFullScoreProject/bert_quantization/model/
/Project/SubmitAFullScoreProject/bert_distill/model/
/Project/NLP-DangDangBookClassifier/model/
/Project/NLP-DangDangBookClassifier/data/
/RAG/Langchain/_06indexes/outputs/
/.venv_edu_rag/
