.idea/
.vscode/
*.pyc
*.log
__pycache__/
build/
base/__pycache__
mysql_qa/__pycache__
rage_qa/__pycache__
.DS_Store
rage_qa/models/
*.csv
/docker/milvus_redis/volumes/
*.safetensors
*.pt
*.bin
*.model
/rag_qa/models/bge-m3/tokenizer.json
/rag_qa/models/bge-m3/onnx/tokenizer.json
/rag_qa/models/bge-reranker-v2-m3/tokenizer.json
